/* Variable */
:root {
    --gold: #7f6c2f;
    --gold-weak: #CDB156;
    --size-h3: clamp(.5rem, 2vw + 1rem, 1.2rem);
    --size-h4: clamp(.4rem, 2vw + 1rem, 1rem);
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #FFF;
}
.nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
    width: 100%;
    animation: animate-header linear both;
    
    & .nav__list {
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    & .nav--conteiner {
        margin: 0;
        border-bottom: 2px solid #8f7e7e;
        padding: 10px 0;

        @media (width <= 700px) {border-bottom: none;}
    }
    & .list__item {
        & .link__main {
            margin: auto;
            text-decoration: none;
            color: #000;
            padding: 10px 15px;
            border-radius: 15px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #CDB15690;
            }
        }
    }
    & .item--logo {
        padding-right: 10px;
    }
    & .nav__logo {
        width: 50px;
    }
}
@keyframes animate-header {
    to {
        background-color: rgb(100% 100% 100% / 90%);
    }
}
#open-sidebar {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin: auto;
    cursor: pointer;
}
#close-sidebar {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}
@media (width <= 700px) {
    #open-sidebar, #close-sidebar {
        display: block;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        z-index: 10;
        border-left: 1px solid black;
        transition: left 300ms ease-out;
    }
    .nav.show {
        left: 0;
    }
    .nav ul {
        width: 100%;
        flex-direction: column;
    }
    .nav a {
        width: 100%;
        padding-left: 2.5em;
    }
}
.footer {
    border-top: 2px solid #000;
    padding: 30px 0;

    & .footer__conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 20px;
        @media (width <= 700px) {display: flex; flex-wrap: wrap;}

        & footer__contact {
            & .contact--title {
                font-weight: bold;
            }
        }
        & .footer__follow-us {
            grid-column: 2;
            text-align: center;
            margin: auto;
            margin-top: 0;

            & .icon__redes {
                max-width: 40px;
            }
        }
        & .footer__logo {
            margin: auto;

            & .footer__image {
                grid-column: 3;
                max-width: 100px;
            }
        }
    }
}